---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Customise

blockquote {
  font-style: normal;
  color: #333;
}

pre, code {
  background-color: transparent;
}

